:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #ebf2f5;
}

body,
input,
button,
textarea {
  font: 600 1.8rem Nunito, sans-serif;
}

@media (max-width: 1200px) {
  :root {
    font-size: 45%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 35%;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 30%;
  }
}
